{% extends 'base.html' %}

{% block title %} Co-learning {% endblock %}

{% block content %} 
<article class="content">
  <section class="inner">
{% for i in allspaces %} 

<div class="card">
    <h3 class="card-header">Space {{ i.id }}</h3>
    <div class="card-body">
      <h4 class="card-title">{{ i.title }}</h4>
      <p class="card-text">{{ i.content|safe|truncatechars_html:150 }}</p>
      <p class="card-text"> created {{ i.created_date|timesince }} ago.</p>      
      <a href="{% url 'spacedetails' slug=i.slug %}" class="btn btn-primary">Go to Space</a>
    </div>
  </div>
  
{% empty %}

<p>There isn't any spaces.</p>

{% endfor %} 

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      {% if allspaces.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ allspaces.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="#">{{ allspaces.number }}</a></li>


      {% if allspaces.has_next %}

      <li class="page-item">
        <a class="page-link" href="?page={{ allspaces.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ allspaces.paginator.num_page }}">Last Page</a>
      </li>

      {% endif %}
     
    </ul>
  </nav>
</section>
</article>
  <script>
    var app;

    $( document ).ready(function() {
      var marginalia_opts = {
    show_author: true,
    viewer: annotatormeltdown.render,
    renderExtensions: [
        // related_pages.renderExtension,
        // annotation_permissions.renderExtension,
    ],
    toggle: {
      class: 'btn btn-green',
      show: function(){
        $(".carousel-control").fadeOut();
      },
      hide: function(){
        $(".carousel-control").fadeIn();
      }
    }
  };
  var _marginalia = annotatorMarginalia(marginalia_opts);
      app = new annotator.App();
      app.include(annotator.identity.simple);
        app.include(annotator.ui.main);
        app.include(annotator.storage.http, {
            prefix: window.location.origin,
            headers: {"username": "{{ user.username }}","X-CSRFToken": "{{ csrf_token }}"}
        });
        
        app.include(function() {
            return {
                beforeAnnotationCreated: function (annotation) {
                    annotation.uri = window.location.href;
                }
            }
        });
        app.include(annotatorMarginalia, marginalia_opts)


        app.start().then(function () {
          console.log(app.ident);
          app.ident.identity = "{{ user.username }}";
          console.log(app.ident.identity);
            app.annotations.load({
                uri: window.location.href
            });

        });
        
});


</script>
{% endblock %}
